*{
    box-sizing: border-box;
    margin:0;
    border-radius: 15px;
    font-weight: bold;
   /* border:1px solid black;*/
}


.chassis{
    margin:180px auto;
   /* border: 7px solid red;*/
    width:fit-content;
    background-color: #FF9874;
    max-width: 420px;
    padding:10px;

    
}

.screen{
    height:100px;
    padding:35px 15px 0px 0px;
    margin-bottom: 25px;
}

.digits{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    gap:10px;
    padding:8px;
    width:290px;
    height:400px;
}


button{
    width:60px;
    height:60px;
    background-color: #7695FF;
    border:none;
}

.container{
    display: flex;
    gap:16px;
}

.operations{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding:8px;
}

.screen{
    text-align: right;
    background-color: #FFD7C4;
}

sup{
    border:none;
}

.digits button{
    background-color: #9DBDFF;
}

.clear{
    background-color: wheat;
}

.result{
    background-color: #0D7C66 !important;
    width:120px;
}